/*
    Base
    ---
    Default style rules.
    E.G. html, body, a
*/

// Media Queries
$screen-sm: 576px;
@mixin sm {
    @media (min-width: #{$screen-sm}) {
        @content;
    }
}

// Mixins
@mixin transitionall($length) {
    -webkit-transition: all $length ease-in-out;
    -moz-transition: all $length ease-in-out;
    -o-transition: all $length ease-in-out;
    transition: all $length ease-in-out;
}

@mixin transitiondelay($length) {
    -webkit-transition-delay: $length;
    -moz-transition-delay: $length;
    -o-transition-delay: $length;
    transition-delay: $length;
}

// Font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  h1 {
      width: 100%;
      text-align: center;
      margin-bottom: 0px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .1rem;
  }
}